<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cos.ecommerce.justshop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cos.ecommerce.justshop.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.SearchHistory"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.ProductsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.ProductsShow"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.MyAccount"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.AccountSetting"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.SelectCity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.SubCategoryShow"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cos.ecommerce.justshop.ProductList"
          android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>